language: scala
scala:
  - 2.10.4
jdk:
  - openjdk6
sudo: false
cache:
  directories:
    - $HOME/.ivy2
env:
  matrix:
    # There's no nicer way to specify this matrix; see
    # https://github.com/travis-ci/travis-ci/issues/1519
    - HADOOP_VERSION="1.0.4" SPARK_VERSION="1.4.1"
    - HADOOP_VERSION="1.2.1" SPARK_VERSION="1.4.1"
    - HADOOP_VERSION="2.2.0" SPARK_VERSION="1.4.1"
    - HADOOP_VERSION="1.0.4" SPARK_VERSION="1.5.0-rc1"
    - HADOOP_VERSION="1.2.1" SPARK_VERSION="1.5.0-rc1"
    - HADOOP_VERSION="2.2.0" SPARK_VERSION="1.5.0-rc1"
  global:
    # AWS_REDSHIFT_JDBC_URL
    - secure: "RNkxdKcaKEYuJqxli8naazp42qO5/pgueIzs+J5rHwl39jcBvJMgW3DX8kT7duzdoBb/qrolj/ttbQ3l/30P45+djn0BEwcJMX7G/FGpZYD23yd03qeq7sOKPQl2Ni/OBttYHJMah5rI6aPmAysBZMQO7Wijdenb/RUiU2YcZp0="
    # AWS_REDSHIFT_PASSWORD
    - secure: "Bzre/ohanBt6wrj5asn8+iaIU5qm2QBZ+P/PiAeg55R5sqfyI/pwCYZKdtKSG7SuKzsoiAOtnjvcXMD2hickTLIDz3GmrvFcpx7yn3PEKoLQfT4Ry1/RMOsqa1+sj6zJ7J2dl4w0AURJ7Jb9/7GRylNnL0jkUvqUnWet8PBb7R8="
    # AWS_REDSHIFT_USER
    - secure: "LIkY/ZpBXK3vSFsdpBSRXEsgfD2wDF52X8OZOlyBJOiZpS4y1/obj8b3VQABDPyPH95bGX/LOpM0vVM137rYgF0pskgVEzLMyZOPpwYqNGPf/d4BtQhBRc8f7+jmr6D4Hrox4jCl0cCKaeiTazun2+Y9E+zgCUDvQ8y9qGctR2k="
    # TEST_AWS_ACCESS_KEY_ID
    - secure: "fTLnElq9l+Ll4J4xYe7wr2+jJ2nVeB/N9diwknv8uWQmjVrJS3pxHv9Ou8RN6utX3obMJuJgomtY9sT3dpx31pdCcvmmSUASZamlN20sowtNyz4tk9hsh2FEk6UoJR/kv6d7QKQVL/CGZiymFERiiOFGK3qMDFYcmC5hUlmRtjo="
    # TEST_AWS_SECRET_ACCESS_KEY
    - secure: "INfcmxeMbCVsbGSLLIDUbLeS1JX3mHO6yK7FH1Hs7JX+4W1Cnn/ZzPGv4RnhqDYULZ+CBJeWjBEWU0RG08d9zzbUxIiiAMt4TJbqPgfWjVf3hLfHAlSJk67A2fjjYmxcEg9og+g2PyP6n0sN94vV+Qn7Qccp5ddT6IYdIzet7Lg="
    # AWS_S3_SCRATCH_SPACE
    - secure: "LvndQIW6dHs6nyaMHtblGI/oL+s460lOezFs2BoD0Isenb/O/IM+nY5K9HepTXjJIcq8qvUYnojZX1FCrxxOXX2/+/Iihiq7GzJYdmdMC6hLg9bJYeAFk0dWYT88/AwadrJCBOa3ockRLhiO3dkai7Ki5+M1erfaFiAHHMpJxYQ="

script:
  - sbt -Dhadoop.version=$HADOOP_VERSION -Dspark.version=$SPARK_VERSION coverage test
  - if [ -d "$TRAVIS_SECURE_ENV_VARS" ]; then sbt -Dhadoop.version=$HADOOP_VERSION -Dspark.version=$SPARK_VERSION coverage it:test; fi
  - sbt scalastyle
  - sbt "test:scalastyle"
  - sbt "it:scalastyle"
after_success:
  - bash <(curl -s https://codecov.io/bash)
